/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500&display=swap');

:root {
    --pt-content: 18px;
    --width-menu: 250px;
    --pl-menu: 35px;
    --height-header: 70px;
    --width-icons: 90px;
    /* PALETA DE COLORES */
    --color--primary: #1f55eb;
    --white: #ffffff;
    --black: #000000;
    /* ESCALA DE GRISES */
    --gray--1: #ffffff;
    --gray--2: #eeeeee;
    --gray--3: #f0f0f0;
    /* FUENTES */
    --font--1: #3E4356;
    --family: "Lexend", sans-serif;
    --extra-light: 100;
    --light: 300;
    --regular: 400;
    --semi-bold: 500;
    --bold: 600;
    --size: 14px;

    /* TÃTULOS */
    --title-fz--1: 26px;
    --title-fz--2: 30px;
    --title-fz--3: 22px;
}

body {
    font: var(--semi-bold) var(--size) var(--family);
}

.dashboard {
    min-height: 100vh;
}

.dashboard__menu {
    background-color: var(--white);
    flex: 0 0 var(--width-menu);
}

.dashboard__header,
.dashboard__menu__logo,
.dashboard__content__section {
    padding-right: 10px;
    padding-left: 10px;
}

.brd {
    border-radius: 11px !important;
}

.card_brd {
    background-color: white;
    border-color: 1px solid rgb(236, 236, 236);
    border-radius: 11px;
}

.dashboard__menu__logo {
    margin-bottom: 0;

    background-color: var(--gray--1);
    height: var(--height-header);
    border-right: 1px solid var(--gray--2);
    border-bottom: 1px solid var(--gray--2);
}

.icon__menu>svg {
    width: 25px;
    height: 25px;
    fill: var(--gray--3);
}

.close__menu {
    border: none;
    background-color: transparent;
}

.close__menu>svg {
    width: 25px;
    height: 25px;
}

.dashboard__menu__logo__image {
    width: 60px;
}

.dashboard__menu__content {
    background-color: var(--white);
    list-style: none;
    padding-left: 0;
}

.dashboard__menu__link {
    font-size: 16px;
    color: var(--font--1);
    text-decoration: none;
    line-height: 3;
    display: block;
    padding-left: var(--pl-menu);
    font-weight: var(--regular);
}

.dashboard__menu__link svg {
    margin-right: 15px;
}

.dashboard__menu__link:hover {
    color: var(--color--primary);
    transition: all .25s;
    background-color: var(--gray--1);
    padding-left: 50px;
    font-weight: var(--semi-bold);
}

.dashboard__content {
    /* background-color: lawngreen; */
    flex: 1 1 auto;
}

.dashboard__header {
    background-color: var(--gray--1);
    height: var(--height-header);
    border-bottom: 1px solid var(--gray--2);
}

.notification {
    /* background-color: slategrey; */
    width: var(--width-icons);
}

/* .notification__item {
        background-color: thistle;
    } */

.notification__item>svg {
    fill: var(--gray--3);
    width: 21px;
    height: 21px;
}

.notification__item>svg:hover {
    cursor: pointer;
}

.user {
    /* background-color: lightgreen; */
    /* margin-left: 100px; */
}

.user__toggle {
    border: none;
    background-color: transparent;

    text-transform: capitalize;
    font-weight: var(--semi-bold);
}

.dashboard__content__section {
    background-color: rgb(231, 231, 231) !important;
    height: calc(100% - (var(--height-header) + 1px));
}

.dashboard__content__section,
.dashboard__menu__content {
    padding-top: var(--pt-content);
    padding-bottom: var(--pt-content);
}

[class*="title--"] {
    color: var(--font--1);
    margin: 0;
    line-height: 1;
}

.title--1 {
    font-size: var(--title-fz--1);
}

.title--2 {
    font-size: var(--title-fz--2);
    font-weight: var(--light);
    color: var(--white);
}

.title--3 {
    font-size: var(--title-fz--3);
    text-transform: capitalize;
    /* font-weight: var(--light); */
}

[class*="btn"] {
    padding: 0;
    width: 160px;
    height: 40px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: var(--color--primary);
    border: none;
}

[class*="btn"]:hover {
    background-color: rgba(53, 49, 255, 0.75);
}

.icon_hc {
    color: #57709b;
    font-size: 24px;
}

.link_cls {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.link_dtb {
    font-size: 18px;
    text-decoration: none;
}

.link_excel {
    font-size: 15px;
}

.link_excel i {
    color: rgb(99, 204, 99);
}

.mdl_header {
    font-size: 22px;
    border-radius: 6px;
    padding: 0 2%;
    background-color: rgb(241, 241, 241);
    margin-top: 4%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.btn_mdl_close {
    color: white;
    background-color: rgb(145, 145, 145);
}

.info_center {
    display: flex;
    justify-content: center
}

.mdl_body {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    z-index: 99 !important;
    left: 50%;
    top: 48%;
    border-top: 1px solid rgba(211, 211, 211, 0.863);
    box-shadow: 0px 5px 12px 0px rgba(167, 168, 170, 0.438);
    width: 115%;
    max-width: 680px;
    transform: translate(-50%, -50%);
}

.mdl_content {
    max-height: 380px;
    overflow-y: auto;
    overflow-x: hidden;
}

.lb_in {
    font-weight: 600;
    font-size: 15px
}

.icon_inp {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
}

.tx_emp {
    font-weight: 400;
    font-size: 16px;
}

#mdl_info {
    max-width: 685px !important;
}

.mdl_footer {
    margin-top: 4.15%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo_emp {
    border-radius: 5px;
    max-width: 122px;
}

@media screen and (min-width: 992px) {

    .dashboard__menu__logo {
        padding-right: var(--pl-menu);
        padding-left: var(--pl-menu);
    }

    .dashboard__header {
        padding-left: var(--pl-menu);
    }

    .dashboard__content__section {
        padding-right: var(--pl-menu);
        padding-left: var(--pl-menu);
    }

    .notification {
        width: 65px;
    }

    .user {
        margin-left: 40px;
    }

    .offcanvas-start {
        width: var(--width-menu);
    }

    .offcanvas {
        transform: translateX(0);
        visibility: visible;
        position: static;
    }

}